* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  min-height: 100%;
  min-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100svh;
  overflow: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 4px;
  border-radius: 100px;
  padding: 2px;

  &:hover {
    background: var(--scrollbar-trackHover-color);
  }
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 100px;


  /* Handle on hover */

  &::-webkit-scrollbar-thumb:hover {
    background: var(--text-color);
  }
}

::selection {
  background: #cc0001;
  color: white;
}

.mainContentContainer {
  display: flex;
  height: calc(100% - var(--navPanel-height));
  flex-direction: column;
  color: var(--text-color);
  font-size: 18px;
}

.list {
  padding-left: 20px;

  & li {
    margin-bottom: 10px;
  }
}

.list--menu {
  & li:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
a{
  color: var(--text-color);
  font-weight: bold;
}
.attention
{
  font-weight: bold;
}
.content-panel-childList
{
  margin-left: 1em;
}
h1,h2,h3{
  margin: 10px 0;
}