.button {
  /*Розмір*/
  width: min-content;

  /*Позиція*/

  /*Відображення*/
  display: flex;

  /*Поведінка*/
  user-select: none;

  /*Позиціонування вмісту*/
  padding: 10px 20px;
  align-items: center;
  text-align: center;

  /*Форматування*/
  color: var(--text-color);
  font-size: 18px;
  font-weight: bold;
  background-color: var(--background-color);
  border: var(--text-color) solid 1px;
  border-radius: 100px;

  /*Ефекти*/
  transition: background-color 0.4s;
}

.button:hover {
  cursor: pointer;
  background: var(--navigation-hover-color);
}

.button--size {
  width: 194px;
  height: 58px;
  margin-top: -110px;
  margin-right: 25px;
  margin-bottom: 20px;
  justify-content: center;
  align-self: center;
  text-align: center;
  font-size: 24px;
  border: var(--text-color-white) solid 2px;
}

.button--size:hover {
  color: red;
}
