main {
  position: relative;
  margin: 0 74px;
  height: calc(100% - var(--navbar-full-hght));
  display: flex;
  justify-content: stretch;
  overflow: hidden;
  border-right: 1px solid var(--separator-color);
  border-left: 1px solid var(--separator-color);
}

main article, main .side-panel {
  padding: 20px 0;
}

main article {
  overflow: scroll;
  padding-right: 120px;
  padding-left: 120px;
  min-width: 70%;
  scroll-behavior: smooth;
  scrollbar-width: none;
  font-size: 1vw;
  text-align: justify;
  line-height: 2em;
}

main article a {
  text-decoration: underline;
}

main article h1 {
  font-size: 2vw;
  text-transform: uppercase;
  text-align: left;
}

main article h2 {
  margin-top: 2em;
  margin-bottom: 0.6em;
}

main article ul,
main article ol,
main article li {
  padding-bottom: 0.8em;
}

main .side-panel {
  z-index: 99;
  border-left: 1px solid var(--separator-color);
  min-width: 30%;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  overflow-y: scroll;
  padding-right: 40px;
  padding-left: 40px;
  /*transition: left 0.4s;*/
  transition-duration: 0.4s;
}

.contents {
  overflow-x: hidden;
  flex-grow: 1;
  text-wrap: normal;
  font-size: 0.9vw;
}

.contents h1 {
  font-size: 1.4vw;
  margin-bottom: 2em;
}

.contents li {
  margin-bottom: 1em;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.4s;
}

.contents li:hover {
  text-decoration-color: var(--text-color);
}

.contents li {
  cursor: pointer;
}

.button {
  position: absolute;
  top:92%;
  left: 71%;
  z-index: 100;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
  border: var(--text-color) solid 1px;
  border-radius: 100px;
  font-weight: bold;
  width: min-content;
  background-color: var(--background-color);
  transition: background-color 0.4s;
}

.button:hover{
  cursor: pointer;
  background-color: var(--navigation-hover-color);
}

#contents-toggler {
  display: none;
}

@media only screen and (max-width:1700px) {
  main article, .contents, h2 {
    font-size: 16px;
  }
  main article h1 {
    font-size: 20px;
  }
}

@media only screen and (max-width:1210px) {
  main .side-panel {
    position: absolute;
    border-left: none;
    /*background-color: var(--background-color);*/
    backdrop-filter: blur(30px);
    height: 100vh;
    width: 40%;
    display: flex;
    padding: 20px;
  }
  main .side-panel h1 {
    font-size: 20px;
  }
  main {
    border-left: none;
    border-right: none;
    margin: 0 1%;
  }
  main article {
    border-right: none;
    padding-bottom: 50px;
  }
  .button {
    left: 20px;
  }
  #article-contents {
    left: -200%;
  }
  #contents-toggler {
    display: flex;
  }
}

@media only screen and (max-width:800px) {
  main {
    margin: 0;
  }
  main article {
    padding-right: 35px;
    padding-left: 35px;
  }
  main .side-panel {
    width: 100%;
  }
}
