
main {
  margin: 0 74px;
  height: calc(100% - var(--navbar-full-hght));
  display: flex;
  justify-content: stretch;
  overflow: hidden;
  border-right: 1px solid #222222;
  border-left: 1px solid #222222;
}

main article, main .side-panel {
  padding: 20px 0;
}

main article {
  border-right: 1px solid #222222;
  overflow: scroll;
  padding-right: 120px;
  padding-left: 120px;
  min-width: 70%;
  scroll-behavior: smooth;
  scrollbar-width: none;
  font-size: 20px;
  text-align: justify;
  line-height: 2em;
}

main article h1 {
  font-size: 40px;
  text-transform: uppercase;
}

main article ul,
main article ol,
main article li {
  padding-bottom: 0.8em;
}

main .side-panel {
  min-width: 30%;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  overflow-y: scroll;
  padding-right: 40px;
  padding-left: 40px;
}

.contents {
  width: min-content;
  text-wrap: normal;
  flex-grow: 1;
}

main .side-panel .contents li {
  cursor: pointer;
}

main .side-panel .button {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
  border: white solid 1px;
  border-radius: 100px;
  font-weight: bold;
  width: min-content;
}

.button:hover{
  cursor: pointer;
}
