@import "article.css";
@import "navigation-header.css";
@import "content.css";
@import "colors.css";

html {
  height: 100%;
  width: 100%;
}

body {
  margin: auto;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Montserrat, sans-serif;
  height: 100%;
}

a {
  color: white;
}


