@import "navigation-header.css";
@import "content.css";
@import "colors.css";

html {
  height: 100%;
  width: 100%;
}

* {
  font-family: Montserrat, sans-serif;
}

body {
  margin: auto;
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100%;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 650;
}

a {
  color: var(--text-color);
}

.fen-clickable {
  cursor: pointer;
}

