@media screen and (min-width: 768px) {
  .navigationPanel__navigationContainer__navigationMenu__dropdown {
    /*Розмір*/
    height: 100%;
    flex: 1 1 auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    /*Позиція*/
    position: relative;

    /*Відображення*/
    display: flex;

    /*Поведінка*/
    user-select: none;

    /*Позиціонування вмісту*/
    align-items: center;
    padding: 10px;
  }

  .navigationPanel__navigationContainer__navigationMenu__dropdown--display-none {
    display: initial;
  }

  .navigationPanel__navigationContainer__popupWindow {
    backdrop-filter: initial;
  }

  .navigationPanel__navigationContainer__navigationMenu__dropdown__p {
    font-size: initial;
    font-weight: initial;
  }
  .navigationPanel__navigationContainer__navigationMenu__dropdown__dropdownMenu {
    /*Розмір*/
    width: fit-content;
    min-width: 250px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    /*Позиція*/
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;

    /*Відображення*/
    display: none;

    /*Поведінка*/
    user-select: none;

    /*Позиціонування вмісту*/
    flex-direction: column;

    /*Форматування*/
    background: var(--background-color);
    border: 1px solid var(--separator-color);
    box-shadow: 0 0 10px var(--shadow-color);

    & a {
      display: none;
      padding: 20px 10px;
      color: var(--text-color);
      text-decoration: none;
    }

    & a + a {
      border-top: 1px solid var(--separator-color);
    }

    & a:hover {
      background-color: var(--navigation-hover-color);
    }
  }

  .navigationPanel__navigationContainer__navigationMenu__dropdown:hover {
    background-color: var(--navigation-hover-color);

    .navigationPanel__navigationContainer__navigationMenu__dropdown__dropdownMenu,
    .navigationPanel__navigationContainer__navigationMenu__dropdown__dropdownMenu a {
      display: flex;
    }
  }
  .mainContentContainer {
    border-left: 1px solid var(--separator-color);
    border-right: 1px solid var(--separator-color);
    margin: 0 120px;
  }
  .mcc_article {
    padding: 20px 20px 80px;
  }

  .navigationPanel__navigationContainer {
    margin: 0 20px;
  }
  .navigationPanel__navigationContainer__hamburger {
    display: none;
  }
  .navigationPanel__navigationContainer__navigationMenu.open {
    display: none;
  }

  .navigationPanel__navigationContainer__navigationMenu {
    flex: 1;
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 960px) {
  .mcc_contentsPanel {
    width: 600px;
    box-shadow: 0 0 10px var(--shadow-color);
  }

  .navigationPanel__navigationContainer__navigationMenu {
    width: 600px;
  }
}

@media screen and (min-width: 1600px) {
  .mainContentContainer {
    flex-direction: row;
  }
  .mcc_article {
    flex: 10;
  }
  .mcc_contentsPanel {
    position: static;
    flex:4;
    height: 100%;
    box-shadow: none;
    border-left: 1px solid var(--separator-color);
    background-color: var(--background-color);
  }

  .mcc_contentsPanelToggle {
    display: none;
  }

  .navigationPanel {
    justify-content: initial;
  }

  .navigationPanel__navigationContainer {
    margin: 0 120px;
  }

}
