@media screen and (min-width: 750px) {
  .mainContentContainer {
    border-left: 1px solid var(--separator-color);
    border-right: 1px solid var(--separator-color);
    margin: 0 120px;
  }
  .mcc_article {
    padding: 20px 20px 80px;
  }
}

@media screen and (min-width: 960px) {
  .mcc_contentsPanel {
    width: 600px;
    box-shadow: 0 0 10px var(--shadow-color);
  }
}

@media screen and (min-width: 1600px) {
  .mainContentContainer {
    flex-direction: row;
  }
  .mcc_article {
    flex: 10;
  }
  .mcc_contentsPanel {
    position: static;
    flex:4;
    height: 100%;
    box-shadow: none;
    border-left: 1px solid var(--separator-color);
  }
}
