@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

:root {
  --bg-color-black: #000000;
  --text-color-white: #FFFFFF;
  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;
  --font-weight-regular: 400;
  --font-family-text: 'Montserrat', sans-serif;
  --font-family-logo-text: 'Inter', sans-serif;
  /*Переписати відповідно до оновленого дизайну*/
  --font-size-h1-computer: 134px;
  --font-size-h1-tablet: 60px;
  --font-size-h1-mobile: 40px;
  --font-size-h2-computer: 49px;
  --font-size-h2: 32px;
  --font-size-h3: 24px;
  --font-size-p-computer: 43px;
  --font-size-large-text: 20px;
  --font-size-normal-text: 16px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-regular);
  color: var(--text-color-white);
  background-color: var(--bg-color-black);
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 75px;
}
