.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__contentContainer {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.header__textContainer {
  margin-top: -36px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
}

.header__textContainer__logo {
  width: 120px;
  height: 31px;
}

.header__textContainer__logo__computer {
  display: none;
}

.header__textContainer__h1 {
  font-size: var(--font-size-h1-mobile);
  font-weight: var(--font-weight-bold);
}

.header__textContainer__p {
  width: 210px;
  text-align: center;
  font-style: normal;
  font-size: var(--font-size-normal-text);
  font-weight: var(--font-weight-semi-bold);
}

.header__buttonContainer {
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  justify-content: center;
  align-items: center;
}

.header__buttonContainer__button {
  width: 185px;
  height: 48px;
  padding: 0;
  justify-content: center;
  font-size: var(--font-size-normal-text);
}

.header__buttonContainer__button--accented-pinkBgGradient {
  background: linear-gradient(94.87deg, #AC2035 -3.72%, #BF40A6 113%);
  border: var(--bg-color-black) solid 1px;
}

.header__buttonContainer__button--accented-pinkBgGradient:hover {
  background: linear-gradient(94.87deg, #AC2035 -3.72%, #BF40A6 113%);
  color: red;
}

.header__buttonContainer__button:hover {
  color: red;
}

.header__buttonContainer__button--border-white {
  border: var(--text-color-white) solid 2px;
}

.header__buttonContainer__p {
  font-size: var(--font-size-normal-text);
  font-weight: var(--font-weight-bold);
}
