.mcc__article {
  /*Розмір*/

  /*Позиція*/

  /*Відображення*/
  display: flex;

  /*Поведінка*/
  overflow-y: scroll;
  scroll-behavior: smooth;

  /*Позиціонування вмісту*/
  flex-direction: column;
  padding: 20px 48px 80px;

  /*Форматування*/
  font-size: 18px;
  line-height: 1.5;

  & p {
    margin-bottom: 5px;
  }
}

.mcc__article__titleImage {
  width: 60%;
  align-self: center;
  margin-bottom: 20px;
  border-radius: 18px;
  box-shadow: 0 0 10px var(--shadow-color);
}

.mcc__article__title {
  font-size: 36px;
  margin-bottom: 20px;
}

.mcc__article__heading {
  font-size: 30px;
}

.mcc__article__heading + .mcc__article__subheading {
  margin-top: 0;
}

.mcc__article__subheading {
  margin-top: 10px;
  font-size: 22px;
}

.mcc__article__hyperlink {
  color: var(--link-color);
  text-decoration: var(--text-color) underline;
}

.mcc__article__hyperlink:hover {
  cursor: pointer;
}

.mcc__article__image {
  border-radius: 12px;
  box-shadow: 0 0 10px var(--shadow-color);
}

.mcc__article__list--marked,
.mcc__article__list--numbered {
  padding-left: 20px;

  & li {
    margin-bottom: 10px;

  }
}

.mcc__article__text--bold {
  font-weight: 600;
}

.mcc__article__text--hidden {
  display: none;
}

.mcc__article__text--italic {
  font-style: italic;
}


